body {
    background: url('./bug1.jpg');
    width: 200px;
    height: 500px;
}
.container {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
}
.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    padding: 10px;
    margin: 0px;
    left: 0px;
    top: -5px;
}
.left div {
    text-align: center;
    font-size: 10px;
}
.mid {
    /* border: 2px solid purple; */
    display: inline-block;
    width: 700px;
    /* padding: 5px; */
    margin: -13px 490px;
    font-size: 25px;
}
.right {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 2px;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
}
.navbar li a:hover,
.navbar li a.active {
    color: darkgray;
    text-decoration: underline;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.left img {
    width: 75px;
    align-content: center;
}
.btn {
    border-radius: 3px;
    width: 130px;
    color: white;
    background-color: grey;
    padding: 0px 5px;
    margin: 7px;
    border: grey;
    font-size: small;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover {
    color: rgb(0, 0, 0);
}
.lam {
    font-family: 'Playball', cursive;
    font-size: 16px;
    color: white;
}
.formgroup {
    text-align: center;
    margin: 50px 10px;
    width: 211%;
    padding: 57px 85px;
    /* border: 2px solid white; */
    border-radius: 32px;
    color: white;
}
.formgroup #sub {
    width: 418px;
    padding: 10px 10px;
    font-size: 22px;
}
.form input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 425px;
    border: 2px solid black;
    padding: 5px 1px;
    margin: 4px auto;
    font-size: 20px;
}
.right #search{
    font-family: 'Baloo Bhai 2', cursive;
}