@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.navlist{
  flex-direction: column;
}
.navbar{
  flex-direction: column;
  height: 500px;
  transition: all 0.7s ease-out;
}
.rightnav{
  align-items: center;
}
.menu{
  display: block;
}
.hnav-resp{
  height: 72px;
}
.vis-resp{
  opacity: 0;
}


.text1 {
  color: white;
  font-size: 50px;
  text-align: center;
  /* margin: auto auto; */
  /* padding-left: 5px;
  padding-right: 5px; */
  font-family: "Barlow", sans-serif;
  /* opacity: 1; */
}

.text2 {
  color: black;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  word-spacing: 7px;
  /* background-color: #f5623d; */
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Barlow Condensed", sans-serif;
}

.mrp {
  width: 40%;
  position: absolute;
  top: 930px;
  left: 450px;
  padding: 30px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
